{% extends "base.html" %}
{% load static %}

{% block head %}

   <title>All Listings</title>

{% endblock head %}
{% block body %}

<!-- listings section starts  -->

<section class="listings">

   <h1 class="heading">all listings</h1>

   <div class="box-container">

      <div class="box">
         <div class="admin">
            <h3>F</h3>
            <div>
               <p>Furqan</p>
               <span>10-9-2023</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>4</span></p>
            <p class="type"><span>house</span><span>sale</span></p>
            <form action="" method="post" class="save">
               {% csrf_token %}
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="{% static 'images/house-img-1.webp' %}" alt="">
         </div>
         <h3 class="name">modern flats and appartments</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i><span>Bhatkal, india - 581320</span></p>
         <div class="flex">
            <p><i class="fas fa-bed"></i><span>3</span></p>
            <p><i class="fas fa-bath"></i><span>2</span></p>
            <p><i class="fas fa-maximize"></i><span>750sqft</span></p>
         </div>
         <a href="{% url 'view_property' %}" class="btn">view property</a>
      </div>

      <div class="box">
         <div class="admin">
            <h3>N</h3>
            <div>
               <p>Ibrahim</p>
               <span>10-11-2023</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>4</span></p>
            <p class="type"><span>flat</span><span>sale</span></p>
            <form action="" method="post" class="save">
               {% csrf_token %}
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="{% static 'images/house-img-2.webp' %}" alt="">
         </div>
         <h3 class="name">modern flats and appartments</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i><span>Shiroor, india - 5762228</span></p>
         <div class="flex">
            <p><i class="fas fa-bed"></i><span>3</span></p>
            <p><i class="fas fa-bath"></i><span>2</span></p>
            <p><i class="fas fa-maximize"></i><span>750sqft</span></p>
         </div>
         <a href="{% url 'view_property' %}" class="btn">view property</a>
      </div>
      
   </div>

</section>

<!-- listings section ends -->

{% endblock body %}