{% extends "base.html" %}
{% load static %}

{% block head %}
   <title>Register</title>
{% endblock head %}
{% block body %}

<!-- register section starts  -->

<section class="form-container">

   <form action="{% url 'aftersignup' %}" method="post">
      {% csrf_token %}
      <h3>create an account!</h3>
      <input type="tel" name="name" required maxlength="50" placeholder="enter your name" class="box">
      <input type="email" name="email" required maxlength="50" placeholder="enter your email" class="box">
      <input type="password" name="pass" required maxlength="20" placeholder="enter your password" class="box">
      <input type="password" name="c_pass" required maxlength="20" placeholder="confirm your password" class="box">
      <p>already have an account?   <a href="{% url 'login' %}">  Login</a></p>
      <input type="submit" value="register now" name="submit" class="btn">
   </form>

</section>

<!-- register section ends -->

<!-- custom js file link  -->
<script src="{% static 'js/script.js' %}"></script>

{% endblock body %}